$myBlack: #111111;
$cols: 11;
$rows: 22;

html {
    font-size: 8px;
    background-color: #000;
}

body {
    margin: 0;
    background-color: $myBlack;
}

#board-container {
    perspective: 30rem;
}

#board {
    position: relative;
    top: -8rem;
    margin: 0 auto;
    /* 9 col */
    width: (9 * 4rem);
    /* 22 row */
    height: (20 * 4rem);
    background: "#000A";
    overflow: hidden;

    transform: rotateX(10deg);
}

.tile-container {
    opacity: 0.8;
}

.board-tile {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    background: url('../images/pas-tile.gif');
}

// sass has no problem with these
$myYellow: #ffff00;
$myYGreen: #ddff00;
$myYOrange: #ffcc00;
$myGreen: #aaff00;
$myOrange: #ffaa00;

$a-player-colors: $myYellow,$myYGreen,$myYOrange,$myGreen,$myOrange ;

.player-container {
    position: absolute;
    width: 4rem;
    height: 4rem;
}

.player {
    width: 3rem;
    height: 3rem;
    margin: auto;
    border-radius: 50%;
    opacity: 0.9;
}

$teamA-slug: "teamA";

@for $i from 0 through 4 {
    .#{$teamA-slug}#{$i} {
        background-color: nth($a-player-colors, ($i+1));
        border-bottom: 4px solid red;
    }
}

$myPurple: #ff00ff;
// what is wrong with line 79????  sass can't build it.
$myPBlue: #cc22ff;
$myPRed: #ff44aa;
$myBlue: #8822ff;
$myRed: #ff4466;

$b-player-colors: $myPurple,$myPBlue,$myPRed,$myBlue,$myRed ;

$teamB-slug: "teamB";

@for $i from 0 through 4 {
    .#{$teamB-slug}#{$i} {
        background-color: nth($b-player-colors, ($i+1));
        border-bottom: 4px solid white;
    }
}

$col-slug: "c";

@for $i from 0 through 11 {
    .#{$col-slug}-#{$i} {
        left: ($i*4rem) - 4rem;
    }
}

$row-slug: "r";

@for $i from 0 through 22 {
    .#{$row-slug}-#{$i} {
        top: $i*4rem;
    }
}
