$black: #111;
$cols: 9;
$rows: 22;

html {
    font-size: 12px;
}

body {
    margin: 0; 
    background-color: $black; 
}

// #board-container {
// }

#board {
    display: grid;
    margin: 0 auto;
    /* 9 col */
    width: (9 * 4rem);
    grid-auto-columns: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    /* 22 row */
    height: (22 * 4rem);
    grid-auto-rows: 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem 4rem;
    background: #000;
    perspective: 40rem;
}

.board-tile {
    width: 4rem;
    height: 4rem;
    border: 2px solid magenta;
}

$col-slug: "c";

@for $i from 0 through 9 {
    .#{$col-slug}-#{$i} {
        grid-column: $i+1;
    }
}