// attribution https://typetr.typenetwork.com
@font-face {
    font-family:'BitcountGridSingle';
    src: url('../BitcountGrid-CircleSquarePlus-Var.ttf');
}

$myBlack: #111111;
$cols: 11;
$rows: 22;

html {
    font-size: 8px;
    background-color: #000;
}

body {
    margin: 0;
    background-color: $myBlack;
}

body div {
    color: #dddddd;
    font-size: 8rem;
    font-family: 'BitcountGridSingle';
    font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 0, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400;
    animation: explode 1.5s linear infinite;
}
@keyframes explode {
    0%   {font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 1000, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400; }
    50%  {font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 0, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400;}
    99%  {font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 990, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400;}
    100% {
        font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 1000, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400;
    }
}

#box {
    position: fixed; 
    top: 10vh;
    width: 100vw;
    z-index: 10;
}

#readout {
    top: 10px;
    height: 150px; 
    width: 350px;
    margin: 0 auto;
    background-color: #555555;
    border-radius: 2rem;
    text-align: center;
    opacity: 0;
}

#board-container {
    perspective: 30rem;
}

#board {
    position: relative;
    top: -8rem;
    margin: 0 auto;
    /* 9 col */
    width: (9 * 4rem);
    /* 22 row */
    height: (20 * 4rem);
    background: "#000A";
    overflow: hidden;

    // transform: rotateX(10deg);
}

.tile-container {
    opacity: 0.8;
}

.board-tile {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    background: url('../images/pas-tile.gif');
}

$myYellow: #ffff00;
$myYGreen: #ddff00;
$myYOrange: #ffcc00;
$myGreen: #aaff00;
$myOrange: #ffaa00;

$a-player-colors: $myYellow,$myYGreen,$myYOrange,$myGreen,$myOrange ;

.player-containerAv {
    position: absolute;
    display: grid;
    grid-auto-columns: 1fr;
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
}

.player-container {
    position: absolute;
    display: grid;
    grid-auto-columns: 4rem 32rem 4rem 32rem 4rem;
    width: 4rem;
    height: 4rem;
    transform: translateX(-36rem);
}

.player {
    position: absolute;
    grid-column: 3/4;
    justify-self: center;
    width: 4rem;
    height: 4rem;
    // border-radius: 50%;
    opacity: 0.9;
    // for jerseyNum
}

// dopplegangers on left and right
.dop-left {
    grid-column: 1/2;
    justify-self: center;
    width: 4rem;
    height: 4rem;
    // border-radius: 50%;
    opacity: 0.9;
    // for jerseyNum
}

.dop-right {
    grid-column: 5/6;
    justify-self: center;
    width: 4rem;
    height: 4rem;
    // border-radius: 50%;
    opacity: 0.9;
    // for jerseyNum
}

$col-slug: "c";

@for $i from 0 through 11 {
    .#{$col-slug}-#{$i} {
        left: ($i*4rem) - 4rem;
    }
}

$row-slug: "r";

@for $i from 0 through 22 {
    .#{$row-slug}-#{$i} {
        top: $i*4rem;
    }
}

$teamA-slug: "A0";
$teamB-slug: "B0";

@for $i from 0 through 4 {
    .#{$teamA-slug}#{$i} {
        background-image: url("../images/#{$teamA-slug}#{$i}.png");
        background-size: 100%;
        mix-blend-mode: screen;
    }
}

@for $i from 0 through 4 {
    .#{$teamB-slug}#{$i} {
        background-image: url("../images/#{$teamB-slug}#{$i}.png");
        background-size: 100%;
        mix-blend-mode: screen;
    }
}