$black: #111;
$cols: 11;
$rows: 22;

html {
    font-size: 8px;
}

body {
    margin: 0; 
    background-color: $black; 
}

#board-container {
    perspective: 30rem;
}

#board {
    position: relative;
    top: -8rem;
    margin: 0 auto;
    /* 9 col */
    width: (9 * 4rem);
    /* 22 row */
    height: (20 * 4rem);
    background: #000;
    overflow: hidden;

    transform: rotateX(10deg);
}

.tile-container {
}

.board-tile {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    background: url('../images/pas-tile.gif');
}

$yellow: #FF0A;
$yGreen: #DF0A;
$yOrange: #FC0A;
$green: #AF0A;
$orange: #FA0A;


$a-player-colors: $yellow,$yGreen,$yOrange,$green,$orange ;

.player-container {
    position: absolute;
    width: 4rem;
    height: 4rem;
    // left: 16rem;
    // top: 60rem;
}

.player {
    width: 3rem;
    height: 3rem;
    margin: auto;
    border-radius: 50%;
}

$teamA-slug: "teamA";

@for $i from 0 through 4 {
    .#{$teamA-slug}#{$i} {
        background: nth($a-player-colors, ($i+1));
    }
}

$col-slug: "c";

@for $i from 0 through 11 {
    .#{$col-slug}-#{$i} {
        left: ($i*4rem) - 4rem;
    }
}

$row-slug: "r";

@for $i from 0 through 22 {
    .#{$row-slug}-#{$i} {
        top: $i*4rem;
    }
}