@font-face {
  font-family: 'BitcountGridSingle';
  src: url("../BitcountGrid-CircleSquarePlus-Var.ttf"); }

html {
  font-size: 8px;
  background-color: #000; }

body {
  margin: 0;
  background-color: #111111; }

body div {
  color: #bbbbbb;
  font-size: 8rem;
  font-family: 'BitcountGridSingle';
  font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 0, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400;
  animation: explode 1.5s linear infinite; }

@keyframes explode {
  0% {
    font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 1000, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400; }
  50% {
    font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 0, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400; }
  99% {
    font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 990, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400; }
  100% {
    font-variation-settings: 'CNCI' 0, 'CNCO' 0, 'LINE' 1000, 'OPEN' 1000, 'RNDI' 1000, 'RNDO' 1000, 'SQRI' 1000, 'SQRO' 1000, 'slnt' 0, 'wght' 400; } }

#box {
  position: fixed;
  top: 10vh;
  width: 100vw;
  z-index: 10; }

#readout {
  top: 10px;
  height: 150px;
  width: 350px;
  margin: 0 auto;
  background-color: #555555;
  border-radius: 2rem;
  text-align: center;
  opacity: 0; }

#board-container {
  perspective: 30rem; }

#board {
  position: relative;
  top: -8rem;
  margin: 0 auto;
  /* 9 col */
  width: 36rem;
  /* 22 row */
  height: 80rem;
  background: "#000A";
  overflow: hidden;
  transform: rotateX(10deg); }

.tile-container {
  opacity: 0.8; }

.board-tile {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 4rem;
  background: url("../images/pas-tile.gif"); }

.player-containerA {
  position: absolute;
  display: grid;
  grid-auto-columns: 1fr;
  width: 4rem;
  height: 4rem;
  margin: 0 auto; }

.player-container {
  position: absolute;
  display: grid;
  grid-auto-columns: 4rem 32rem 4rem 32rem 4rem;
  width: 4rem;
  height: 4rem;
  transform: translateX(-36rem); }

.player {
  position: absolute;
  grid-column: 3/4;
  justify-self: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.9; }

.dop-left {
  grid-column: 1/2;
  justify-self: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.9; }

.dop-right {
  grid-column: 5/6;
  justify-self: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  opacity: 0.9; }

.teamA0 {
  background-color: #ffff00;
  border-bottom: 4px solid red;
  mix-blend-mode: screen; }

.teamA1 {
  background-color: #ddff00;
  border-bottom: 4px solid red;
  mix-blend-mode: screen; }

.teamA2 {
  background-color: #ffcc00;
  border-bottom: 4px solid red;
  mix-blend-mode: screen; }

.teamA3 {
  background-color: #aaff00;
  border-bottom: 4px solid red;
  mix-blend-mode: screen; }

.teamA4 {
  background-color: #ffaa00;
  border-bottom: 4px solid red;
  mix-blend-mode: screen; }

.teamB0 {
  background-color: #8822ff;
  border-bottom: 4px solid white;
  mix-blend-mode: screen; }

.teamB1 {
  background-color: #aa22aa;
  border-bottom: 4px solid white;
  mix-blend-mode: screen; }

.teamB2 {
  background-color: #4400ff;
  border-bottom: 4px solid white;
  mix-blend-mode: screen; }

.teamB3 {
  background-color: #dd1199;
  border-bottom: 4px solid white;
  mix-blend-mode: screen; }

.teamB4 {
  background-color: #2200ff;
  border-bottom: 4px solid white;
  mix-blend-mode: screen; }

.c-0 {
  left: -4rem; }

.c-1 {
  left: 0rem; }

.c-2 {
  left: 4rem; }

.c-3 {
  left: 8rem; }

.c-4 {
  left: 12rem; }

.c-5 {
  left: 16rem; }

.c-6 {
  left: 20rem; }

.c-7 {
  left: 24rem; }

.c-8 {
  left: 28rem; }

.c-9 {
  left: 32rem; }

.c-10 {
  left: 36rem; }

.c-11 {
  left: 40rem; }

.r-0 {
  top: 0rem; }

.r-1 {
  top: 4rem; }

.r-2 {
  top: 8rem; }

.r-3 {
  top: 12rem; }

.r-4 {
  top: 16rem; }

.r-5 {
  top: 20rem; }

.r-6 {
  top: 24rem; }

.r-7 {
  top: 28rem; }

.r-8 {
  top: 32rem; }

.r-9 {
  top: 36rem; }

.r-10 {
  top: 40rem; }

.r-11 {
  top: 44rem; }

.r-12 {
  top: 48rem; }

.r-13 {
  top: 52rem; }

.r-14 {
  top: 56rem; }

.r-15 {
  top: 60rem; }

.r-16 {
  top: 64rem; }

.r-17 {
  top: 68rem; }

.r-18 {
  top: 72rem; }

.r-19 {
  top: 76rem; }

.r-20 {
  top: 80rem; }

.r-21 {
  top: 84rem; }

.r-22 {
  top: 88rem; }
